<!DOCTYPE html>
{%load static%}
<html>
<head>
	<meta charset="utf-8">
	<title>{%block title%}Network Visualization{%endblock%}</title>
	<link rel="shortcut icon" type="text/css" href="{%static 'netapp/img/logo.png'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'netapp/css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'netapp/css/font-awesome.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'netapp/css/style.css'%}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script type="text/javascript" src="{% static 'netapp/js/bootstrap.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'netapp/js/bootstrap.bundle.min.js'%}"></script>
	<script src="{%static 'netapp/js/jquery.min.js'%}"></script>
	{%block head%}{%endblock%}
</head>
{%block body%}
<body>

</body>
{%endblock%}
</html>