@charset "UTF-8";

@font-face {
  font-family: "hns-icons";
  src:url("fonts/hns-icons.eot");
  src:url("fonts/hns-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/hns-icons.woff") format("woff"),
    url("fonts/hns-icons.ttf") format("truetype"),
    url("fonts/hns-icons.svg#hns-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hns-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-hns-"]:before,
[class*=" icon-hns-"]:before {
  font-family: "hns-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hns-facebook:before {
  content: "\61";
}
.icon-hns-twitter:before {
  content: "\62";
}
.icon-hns-google-plus:before {
  content: "\63";
}
.icon-hns-email-flat:before {
  content: "\64";
}
.icon-hns-email-line:before {
  content: "\65";
}
.icon-hns-arrow-up:before {
  content: "\66";
}
.icon-hns-arrow-right:before {
  content: "\67";
}
.icon-hns-arrow-left:before {
  content: "\68";
}
.icon-hns-arrow-down:before {
  content: "\69";
}
.icon-hns-photo:before {
  content: "\6a";
}
.icon-hns-video:before {
  content: "\6b";
}
.icon-hns-plus-flat:before {
  content: "\6c";
}
.icon-hns-plus-line:before {
  content: "\6d";
}
.icon-hns-chevron-up:before {
  content: "\6e";
}
.icon-hns-chevron-down:before {
  content: "\6f";
}
.icon-hns-chevron-right:before {
  content: "\70";
}
.icon-hns-chevron-left:before {
  content: "\71";
}
.icon-hns-plus:before {
  content: "\72";
}
.icon-hns-search:before {
  content: "\73";
}
.icon-hns-desktop:before {
  content: "\74";
}
.icon-hns-bars:before {
  content: "\75";
}
.icon-hns-hns-sign:before {
  content: "\76";
}
.icon-hns-imag-sign:before {
  content: "\77";
}
.icon-hns-star:before {
  content: "\78";
}
.icon-hns-linkedin:before {
  content: "\79";
}
